@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm" style="padding:10px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://image.shutterstock.com/image-photo/woman-summer-clothes-collage-on-600w-433467574.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm"  style="padding:10px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/projects/230/0e224885856145.Y3JvcCwxNDUyLDExMzYsNzUsMzI.jpg 230w" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="padding:10px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/projects/230/0e224885856145.Y3JvcCwxNDUyLDExMzYsNzUsMzI.jpg 230w" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="padding:10px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/projects/230/0e224885856145.Y3JvcCwxNDUyLDExMzYsNzUsMzI.jpg 230w" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm"style="padding:10px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/projects/230/0e224885856145.Y3JvcCwxNDUyLDExMzYsNzUsMzI.jpg 230w" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm"style="padding:10px">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/projects/230/0e224885856145.Y3JvcCwxNDUyLDExMzYsNzUsMzI.jpg 230w" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
